.keretaapi {
  padding-left: 828px;
  top: 218px;
}

.argowills {
  color: blue;
}

.pending {
  width: 69px;

  color: black;

  background: linear-gradient(180deg, #f7941e 0%, #dc7d0b 100%);
}

.notanda {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #000000;
}

.bawah {
  display: flex;
  justify-content: space-around;
}

.bawah2 {
  color: #b1b1b1;
  display: flex;
  justify-content: space-around;
}

.atas {
  display: flex;
  justify-content: space-around;
}
